body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}

button:active:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}

.large-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.container {
  width: calc(100vw - 30%);
  margin: auto;
}

.container-fluid {
  width: calc(100vw - 60px);
  margin: auto;
}

/* Nav */

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list__link {
  list-style: none;
  font-weight: 500;
}

.nav-list__link a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
}

.nav-list__link a.active {
  border-bottom: 0.15rem solid black;
}

.user {
  display: flex;
  align-items: baseline;
}

.user__name {
  font-weight: 600;
}

.user__avatar {
  border-radius: 50%;
  width: 40px;
}

.user__logout {
  background-color: inherit;
  border: none;
  font-family: inherit;
  margin-left: 1rem;
  cursor: pointer;
}

hr {
  height: 0.15rem;
  border: none;
  background-color: #dcdcdc;
  margin-bottom: 1rem;
  margin-top: -0.15rem;
}

/* new-poll-page */

.new-poll-page {
  text-align: center;
  margin-top: 150px;
}

.new-poll-page__heading {
  margin-bottom: 0;
}

/* poll-page */

.poll-page {
  text-align: center;
  margin-top: 150px;
}

.poll-page-answers {
  display: flex;
  justify-content: space-between;
}

.poll-page-answers__answer {
  flex: calc(50% - 0.5rem);
  max-width: calc(50% - 0.5rem);
}

/* poll-list */

.poll-list-heading {
  text-align: center;
}
.poll-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1;
  padding: 0.5rem;
  border: 1px solid #dcdcdc;
}

.poll-list__item {
  flex: calc((100% / 3) - 1rem);
  max-width: calc((100% / 3) - 1rem);
  padding: 0.5rem;
  list-style: none;
}

/* Pool */

.poll {
  border: 1px solid #dcdcdc;
  border-radius: 0.15rem;
  text-align: center;
}

.poll-details {
  border-bottom: 1px solid #dcdcdc;
  padding: 1rem;
}

.poll-details__owner {
  margin: 0;
}

.poll-details_date {
  font-size: small;
  color: #a9a9a9;
}

.poll__button {
  background-color: inherit;
  border: 1px solid #6fdc6f;
  border-radius: 0.15rem;
  color: #6fdc6f;
  margin: 0.75rem;
  padding: 0.4rem;
  width: calc(100% - 1.5rem);
  cursor: pointer;
}

.poll__button:active {
  background-color: #6fdc6f;
  color: white;
}

/* answer */

.answer {
  border: 1px solid #dcdcdc;
  border-radius: 0.15rem;
  text-align: center;
}

.answer__text {
  margin: 0.5rem 0;
}

.answer__button {
  width: 100%;
  background-color: #66b3ff;
  font-family: inherit;
  border: none;
  padding: 0.75rem;
  color: white;
  border-radius: 0 0 0.15rem 0.15rem;
  cursor: pointer;
}

/* login */

.login-page {
  text-align: center;
}
.login-page__cover {
  width: 500px;
}

/* form */
.form {
  margin-top: 1rem;
}

.form__label {
  font-weight: 600;
}

.form__input {
  border: 1px solid #dcdcdc;
  border-radius: 0.15rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}

.form__input::placeholder {
  color: #dcdcdc;
}

.form__button {
  background-color: #66b3ff;
  border: none;
  border-radius: 0.15rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.form__button:active {
  background-color: #3a96f2;
}

/* table */
td,
th {
  padding: 0.5rem;
}

.table {
  border: 1px solid #dcdcdc;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.table-header {
  background-color: #f0f0f0;
}

.table-header__item {
  border: 1px solid #dcdcdc;
}

.table-item {
  border: 1px solid #dcdcdc;
}

.table-item-user {
  display: flex;
  align-items: center;
}
.table-item-user__avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.table-item-user-details {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.table-item-user-details__name {
  font-weight: 600;
}

.table-item-user-details__username {
  font-size: small;
  color: #a9a9a9;
}
